<header>

	<nav>
		<ul>
			<li>
				<a href="{{ path('home') }}" class="">Accueil</a>
			</li>
			<li>
				<a href="{{ path('article_new') }}" class="">Ajouter article</a>
			</li>
		</ul>
	</nav>

</header>